<html lang="en" ng-app="BlankApp">
<head>

  <!-- Angular Material style sheet -->

  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc5/angular-material.min.css">

 <style type="text/css">

   .btn1 {
    color : rgb(49, 46, 46);
    background-color: rgba(255, 222, 121, 0.96);
    border-radius: 10px 0 0 10px;
    font-size: 16px;
  }
  .btn1:not([disabled]):hover {
    background-color: rgba(107, 103, 91, 0.96);
    color: white;
  }
  .btn1[disabled] {
    color : rgb(187, 187, 187);
    background-color: rgba(230, 230, 229, 0.96);
  }
  md-input-container .md-input {
      
      width: 30% !important;
  }

 </style>

</head>

<body ng-cloak>
 
  <div ng-controller="DemoCtrl" layout="column" ng-cloak class="md-inline-form">
  
    <md-content layout-padding>
      <form name="userForm">
        
        <div layout-padding>
          <md-input-container class="md-block">
            <label>First name</label>
            <input ng-model="user.firstName">
          </md-input-container>
          <br>
          <md-input-container class="md-block">
            <label>Last Name</label>
            <input ng-model="user.lastName">
          </md-input-container>
        </div>
        <md-button class="btn1" ng-click="acceptOffer();"> Accept </md-button>
        
      </form>
    </md-content>

</div>


  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc5/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript"> 

    /**
     * You must include the dependency on 'ngMaterial' 
     */

    angular
    .module('BlankApp', ['ngMaterial', 'ngMessages'])
    .controller('DemoCtrl', function($scope) {

    $scope.acceptOffer= function(){
      
      alert("Please Check your console.")
      console.log($scope.user);

    }
      
    })
 
  </script>
  
</body>
</html>